{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body dir="rtl">
        <div style="margin:100px 250px">
            <form method="post" action="">
                {% csrf_token %}
                <input type="text" name="query" style="width: 500px" placeholder="مشخصات تیشرت مورد نظر را وارد کنید...">
                <button type="submit">OpenEmbedding Large</button>
            </form>
        </div>
        {% if prompt1 %}
             <p>کلید و مقادیر استخراج شده از پرس و جو: {{ prompt1 }} </p>
        {% endif %}
        {% if prompt2 %}
             <p>کلید و مقادیر معادل یابی شده: {{ prompt2 }}</p>
        {% endif %}
    <div id="results">
        {% if images %}
            <h3>تصاویر یافت شده</h3>
            <div>
                {% for image in images %}
                    <img src="{% static image %}" alt="Image" style="width: 100px; height: 100px;"/>
                {% endfor %}
            </div>
        {% endif %}
    </div>

</body>
</html>